@model ProductCreateModel
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-6 gy-6">
        <div class="col-xl">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Create new Product</h5>
                    <small class="text-body float-end">(new)</small>
                </div>
                <div class="card-body">
                    <partial name="_ResponsePartial" />
                    <form asp-area="admin" asp-controller="products" asp-action="create" asp-antiforgery="true">
                        <div class="mb-6">
                            <label class="form-label" asp-for="Name">Name</label>
                            <input type="text" class="form-control" asp-for="Name" placeholder="Camera" />
                        </div>
                        <div class="mb-6">
                            <label class="form-label" asp-for="Price">Price</label>
                            <input type="number" class="form-control" asp-for="Price" />
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>