@model TestHome
@{
    ViewData["Title"] = "Test Index";
}
@section Styles
{
    <style>
        .test {
            color: orangered;
        }
    </style>
}
<partial name="_DivPartial" model="Model.PartialModel"/>
<form asp-asp-controller="Test" asp-action="Index" method="post" asp-antiforgery="true">
    <div>
        <label asp-for="Name">Name: </label>
        <input type="text" asp-for="Name" class="myClass" />
    </div>
    <div>
        <label asp-for="Email">Email: </label>
        <input type="text" asp-for="Email" />
    </div>
    <input type="submit" value="Submit" />
</form>
@section Scripts
{
     <script>
         alert("Hello!!");
     </script>
}


@* Html Helper  *@
@* @Html.TextBoxFor(x=> x.Name,null,new {@class = "myClass"}); *@
