@model TestHome
@{
    ViewData["Title"] = "Test Index";
}
<form asp-asp-controller="Test" asp-action="Index" method="post" asp-antiforgery="true">
    <div>
        <label asp-for="Name">Name: </label>
        <input type="text" asp-for="Name"/>
    </div>
    <div>
        <label asp-for="Email">Email: </label>
        <input type="text" asp-for="Email" />
    </div>
    <input type="submit" value="Submit" />
</form>



@* Html Helper  *@
@* @Html.TextBoxFor(x=> x.Name); *@
